body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow:hidden;
    background: linear-gradient(to bottom, #0A1228, #142144);
}
.container{
    width: 100%;
    height: 100vh;
    
}
.container .bx-search{
    color: #959DA7;
    position: absolute;
    top: 40px;
    left: 40px;
    font-size: 16px;
}
.container input{
    color: #706E6E;
    background: #0a122800;
    position: absolute;
    top: 40px;
    left: 58px;
    border: none;
}

.artists__box{
    position: absolute;
    top: 480px;
    left: 50px;
    display: flex;
}
.artists__box .artist{
    margin: 0 60px 0 0;
    cursor: pointer;
    transition: 0.5s ease;
}
.artists__box .artist:hover{
    transform: scale(1.2);
}

.artists__box .artist img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}

.artists__box .artist .name{
    text-align: center;
    margin-top: 5px;
}
.artists__box a{
    text-decoration: none;
    color: #FFF;
}

.container h1{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    color: #FFF;
    position: absolute;
    top: 420px;
    font-size: 28px;
    left: 50px;
}
.slider{
    position: absolute;
    top: 70px;
    left: 50px;
}
.slider .slide{
    position: absolute;
    visibility: hidden;
}

.slider .slide img{
    border-radius: 20px;
}

.slider button{
    position: absolute;
    top:0px;
    left: 0px;
    height: 340px;
    width: 50px;
    color: rgba(255, 255, 255, 0.356);
    font-size: 38px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    border: none;
    cursor: pointer;
    z-index: 5;

    
}
.slider .next{
    position: absolute;
    left: 710px;

}

@media screen and (max-width: 600px){
    .artists__box .artist .name{
        text-align: center;
        margin-left: 30px;
        margin-top: 40px;
        font-size: 24px;
    }
    .artists__box .artist{
        width: 100%;
        display: flex;
        margin: 0 60px 30px 0;
    }

    .artists__box{
        position: absolute;
        top: 330px;
        left: 50px;
        display: block;
    }
    .container h1{
        top: 250px;
        font-size: 28px;
        left: 50px;
    }
    .slider{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .slider .slide img{
        width: 500px;
    }
    
    .slider button{
        position: absolute;
        top:0px;
        left: 0px;
        height: 220px;
        width: 50px;
        color: rgba(255, 255, 255, 0.356);
        font-size: 38px;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 12px;
        border: none;
        cursor: pointer;
    }
    .slider .next{
        position: absolute;
        left: 450px;
    }
}